/*set the background image */
body {
  background-image: url("https://www.campusfrance.org/sites/default/files/medias/images/2022-02/Ocean.jpg");
  background-attachment: fixed;
}

/*set the characterstics of the title*/
.title {
  background: rgba(0, 0, 0, 0.564);
  color: white;
  border-radius: 24px;
  font-size: 50 px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding-top: 10px;
  width: 23%;
  height: 60px;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
}

#titleHeader {
  margin-top: 2px;
} /* top margin for the title */

/* set characterstics for the about us article */
.aboutUsArticle {
  animation-name: div;
  margin: auto;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.564);
  color: white;
  border-radius: 24px;
  text-align: center;
  width: 45%;
  height: 75%;
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  font-size: 25px;
}
/*make animation for the about us article*/
@keyframes div {
  from {
    top: 0px;
    right: 55px;
  }
  to {
    top: 100px;
    right: 55px;
  }
}
/*make developers name appear without padding or margin*/
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
